.result {
  &--hidden {
    display: none;
  }

  &__text {
    margin-bottom: $gutter;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__label {
    font-size: 1rem;
  }

  &__input {
    font-family: $fonts;
    font-size: 2rem;
    margin-bottom: $gutter;
    padding: 5px;
  }
}
