@import 'config';

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html { /* stylelint-disable-line */
  box-sizing: border-box;
  font-family: $fonts;
  font-size: 16px;
  overflow-x: hidden;
  overflow-y: scroll; // alltaf hafa y skrollbar
}

img { /* stylelint-disable-line */
  max-width: 100%;
}

h1 { /* stylelint-disable-line */
  margin: $gutter 0;
  text-align: center;
}

// layout

main { /* stylelint-disable-line */
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1200px;

  @media (min-width: 500px) {
    flex-direction: row;
  }
}

.game {
  flex: 2;
  padding: $gutter;
}

@import 'text';
@import 'button';
@import 'problem';
@import 'result';
@import 'highscore';
