* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

main {
  display: flex;
  flex-direction: column;

  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;

  text-align: center;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 20px;
}

button,
input {
  flex: 1;
  font-size: 1em;
  padding: 5px;
}

input {
  flex: 4;
  margin-right: 10px;
}

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading img {
  margin-bottom: 20px;
}

dl {
  display: flex;
  flex-wrap: wrap;
}

dt {
  flex: 0 0 30%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
}

dd {
  flex: 70% 0 0;
  margin-bottom: 20px;
  padding-left: 20px;

  word-break: break-word;
}
